.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: green;
}
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff; /* Set text color to white */
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffffff; /* Set text color to white on hover */
}

.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #ffffff; /* Set active/current text color to white */
}

.navbar-dark .navbar-toggler {
  border-color: #ffffff; /* Set border color to white */
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); /* Set toggle icon color to white */
}

.navbar-dark .navbar-toggler:hover {
  background-color: #ffffff; /* Set background color to white on hover */
}

.navbar-dark .navbar-collapse {
  background-color: #008000; /* Set background color to green */
}